[submodule "kernel/irve-nommu"]
	path = kernel/irve-nommu
	url = git@github.com:angry-goose-initiative/linux.git
	branch = irve-nommu
[submodule "kernel/irve-mmu"]
	path = kernel/irve-mmu
	url = git@github.com:angry-goose-initiative/linux.git
	branch = irve-mmu
[submodule "initramfs/busybox"]
	path = initramfs/busybox
	url = git@github.com:angry-goose-initiative/busybox.git
[submodule "initramfs/irve-inception"]
	path = initramfs/irve-inception
	url = git@github.com:angry-goose-initiative/irve.git
